.dropdown-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 50px 0;
  @media screen and (max-width: 420px) {
    margin-top: 10px;
  }
}

.dropdown-unity {
  width: 80%;
  margin: 15px 0;
  @media screen and (max-width: 420px) {
    width: 335px;
    margin: 10px 0;
  }

  @media screen and (max-width: 280px) {
    width: 120%;
    margin: 10px auto;
  }
}
