.title-container {
  color: #ff6060;

  h1 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 0;
    @media screen and (max-width: 585px) {
      font-size: 20px;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;
    @media screen and (max-width: 585px) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
}

.title-tags-container {
  display: flex;
  flex-direction: column;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
}
.titleTags-hostRating {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 15px;

  @media screen and (max-width: 585px) {
    flex-direction: column;
  }
}

@media screen and (max-width: 585px) {
  .host-rating-container {
    width: 100%;
    justify-content: space-between;
    padding-top: 5px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.lodging-container {
  @media screen and (max-width: 280px) {
    padding: 0 20px;
    min-width: 335px;
  }
}
